/.idea/
/cmake-build-debug/
/Lesson6/Lesson6.sln
/Lesson6/Lesson6/Lesson6.vcxproj.user
/Lesson6/Lesson6/Lesson6.vcxproj.filters
/Lesson6/Lesson6/Lesson6.vcxproj
/Lesson6/Lesson6/Debug
/Lesson6/Debug
/Lesson6/.vs/Lesson6/v16
