################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson4/Lesson4/Lesson4.vcxproj
/Lesson4/Lesson4/Lesson4.vcxproj.user
/Lesson4/Lesson4/Lesson4.vcxproj.filters
/Lesson4/Lesson4.sln
/Lesson4/.vs/Lesson4/v16/Browse.VC.db
/Lesson4/.vs/Lesson4/v16/Browse.VC.db-shm
/Lesson4/.vs/Lesson4/v16/Browse.VC.db-wal
/Lesson4/.vs/Lesson4/v16/Browse.VC.opendb
/Lesson4/.vs/Lesson4/v16/.suo
/Lesson4/.vs/Lesson4/v16/ipch/AutoPCH/f714940cf340a661
/Lesson4/Debug
/Lesson4/Lesson4/Debug
