/.idea/
/cmake-build-debug/
/Lesson5/Debug
/Lesson5/Lesson5/Debug
/Lesson5/Lesson5/Lesson5.vcxproj
/Lesson5/Lesson5/Lesson5.vcxproj.filters
/Lesson5/Lesson5/Lesson5.vcxproj.user
/Lesson5/Lesson5.sln
/Lesson5/.vs/Lesson5/v16/Browse.VC.opendb
/Lesson5/.vs/Lesson5/v16/Browse.VC.db-wal
/Lesson5/.vs/Lesson5/v16/Browse.VC.db-shm
/Lesson5/.vs/Lesson5/v16/Browse.VC.db
/Lesson5/.vs/Lesson5/v16/.suo
/Lesson5/.vs/Lesson5/v16/ipch/AutoPCH/e65282b9d38fa4f6
